<!DOCTYPE html>
<html>
<head>
  <title>Animote</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <style><%= yield :stylesheets %></style> 
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> 

  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    
  <%= csrf_meta_tags %> 
  
    <!-- Mezzobit -->
  <script async="1">
    (function() {
      __mtm = [ '548f0b70cd947fad4f28bff5', 'd36wtdrdo22bqa.cloudfront.net/mngr', 'tdi.mezzobit.com' ];
      var s = document.createElement('script');
      s.async = 1;
      s.src = '//' + __mtm[1] + '/mtm.js';
      var e = document.getElementsByTagName('script')[0];
      (e.parentNode || document.body).insertBefore(s, e);
    })();
  </script>

</head>
<body>

  <header class="main-nav">
    <%= render '/users/shared/nav' %>
  </header> 
  

  <% if notice %><div id="notice"><%= notice %></div><% end %>
  <% if alert %><div id="alert"><%= alert %></div><% end %>

  <%= yield %>

   <!-- render "shared/footer"  -->

</body>
</html>
